body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

header {
  background-color: #0f172a;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header p {
  font-size: 1.1rem;
  margin-top: 10px;
}

section {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

section h2 {
  color: #0f172a;
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 10px;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.resume-btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #0f172a;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  margin-top: 10px;
}

.resume-btn:hover {
  background-color: #1e293b;
}


footer {
  text-align: center;
  padding: 20px;
  background: #e5e7eb;
  font-size: 0.9rem;
}
